.data img{
    width: 250px;
    transition-duration: 1s;
    height: 250px;
}
.data img:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: #000;
}

.homectn{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    gap: 50px;
    text-align: center;
}
.data{
    overflow: hidden;
    width: 300px;
    height: 375px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.data button{
    width: 100%;
    padding: 5px;
    background-color:  slateblue;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-shadow: whitesmoke 1px 1px 10px;
}

.data button:hover{
    color: whitesmoke;
    text-shadow: black 1px 1px 10px;
    font-weight: 700;
}
.data button:active{
    background-color: black;
}

.data h4{
    text-decoration: none;
    margin: 2px;
    padding: 3px;
}

.category{
    
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 30px;
    align-items: center;
    margin-top: 100px;
}
.category input{
  width: 250px;
  padding: 10px;

}
.category button{
    background-color: transparent;
    padding: 10px;
    font-size: 20px;
    border: transparent;
}
.category button:hover{
    color: slateblue;
    font-weight: 500;
    text-shadow:  black 1px 1px 2px ;
    border-bottom: solid slateblue ;
}
.srch{
    display: flex;
    align-items: center;
}
.srch button:hover{
    border-bottom: transparent;
}
.srch button:active{
    rotate: 100deg;
    color: black;
}
.whis button{
    background-color: transparent;
    border: transparent;
    width: 20px;
    padding: 0;
    margin: 0;
    float: inline-end;

}
.whis button:hover{
    color: rgb(249, 60, 92);
    cursor: pointer;
}

